@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato, Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}


nav{
    box-shadow: 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.2);
}

.logo{
    margin: auto;
    width: 6rem;
    height: 3.5rem;
    background-image: url(logo.png);
    background-size: cover;
    background-position: center;
}

.checkbox{
    display: none;
}

.close{
    display: none;
}

.toggle{
    font-size: 1.5rem;
    cursor: pointer;

    position: absolute;
    top:0.6rem;
    right:1rem;
}

.checkbox:checked~.toggle>.hamburger{
    display: none;
}

.checkbox:checked~.toggle>.close{
    display: block;
}

nav ul{
    background-color: black;
    width: 50%;

    position: fixed;
    top:3.5rem;
    right:0;
    bottom: 0;

    transform: translateX(100%);
    transition: 0.3s;
}

ul a{
    color: white;
    font-size: 0.8rem;

    display: flex;
    padding: 1.5rem;
}

.checkbox:checked~ul{
    transform: translateX(0);
}


@media(min-width:56.25em){
    
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo{
        width: 7rem;
        height: 4rem;
        margin: 0 0 0 3rem;
    }

    .toggle{
        display: none;
    }

    nav ul{
        background-color: transparent;
        width: 40rem;
        
        position: static;
        transform: none;

        display: flex;
        justify-content: space-around;
    }


    ul a{
        padding:0.75rem;

        font-size: 1rem;
        color: black;

        border-radius: 0.5rem;
        transition: 0.2s;
    }

    nav ul a:hover{
        background-color: rgb(218, 220, 221);
    }

}





